/*https://github.com/nothingrandom/betterunderlines.css*/

p {
	font-size: 2em;
	font-family: 'Georgia', serif;
	/*Some fonts seem to render the linear gradient and text shadow better than others
	  My personal favorite is Minion*/
}

a {
	color: #000;	
	text-decoration: none;
	background-image: linear-gradient(to top,
		transparent 10%,
		currentColor 10%,
		currentColor 14%,
		transparent 10%
	);
	text-shadow:
		.025em 0 0 #fff,
		-.025em 0 0 #fff,
		.05em 0 0 #fff,
		-.05em 0 0 #fff,
		.075em 0 0 #fff,
		-.075em 0 0 #fff;
}
